{% extends "main/base.html" %}

{% block content %}
<h2>Мої замовлення</h2>

{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order_detail' order.uuid %}">Замовлення №{{ order.order_number }}</a> — {{ order.get_status_display }} — {{ order.total_price }} грн
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>У вас поки немає замовлень.</p>
{% endif %}

<a href="{% url 'main_page' %}">⬅ Повернутись на головну</a>
{% endblock %}
